<!-- Sidebar user (optional)-->

@{
    if (string.IsNullOrEmpty(User.Identity.Name))
    {
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                
            </div>
            <div class="info">
                <a asp-action="Login" asp-controller="Account" class="d-block">Oturum Açın</a>
                <a asp-action="Register" asp-controller="Account" class="d-block">Üye Ol</a>
            </div>
        </div>
    }
    else
    {
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/admin/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <p class="text-light">@User.Identity.Name</p>
                <a asp-action="Logout" asp-controller="Account" class="d-block">Güvenli Çıkış</a>
            </div>
        </div>
    }
}
