@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Online Akademi</h1>

    <p>Online akademi sitesine hoşgeldiniz.</p>

    <p>İşlem yapmak için lütfen oturum açınız.</p>
</div>
